/MESON/
.deps/
/subprojects/packagecache/
/subprojects/htslib-1.9/
/compat.sh
/config.log
/config.status
/jellyfish*.pc
/libtool
/stamp-h1
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
compile
config.guess
config.h.in~
config.sub
ltmain.sh
*_cmdline.hpp
test-driver
build-*
